/* General Body Styling */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    sans-serif;
  background-color: #385170;
  color: #333;
  margin: 0;
  padding: 0;
  border: 10px solid #142d4c;
header {
  background-color: #4caf50; /* Green background */
  color: white;
  text-align: center;
  padding: 20px;
  background-color: #385170; /* Background color blue */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width/height */
}

/* Section Styling */
section {
  padding: 20px; /* Padding inside the box */
  margin: 20px; /* Margin outside the box */
  border: 2px solid #ececec; /* Red border around the section */
  background-color: blue; /* Blue background */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width/height */
}

/* Section 1: Introduction */
section:nth-of-type(1) {
  background-color: #9fd3c7; /* Yellow background */
  color: #333;
}

/* Section 2: Education */
section:nth-of-type(2) {
  background-color: #9fd3c7; /* Blue background */
  color: rgb(20, 19, 19);
}

section:nth-of-type(2) li {
    margin-bottom: 20px; /* Adds space between each list item */
}
/* Footer Styling */
footer {
  background-color: #385170;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #ececec; /* Red border on top of the footer */
}
